/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Web Fonts - Noto+Sans+KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Web Fonts - Black+Han+Sans */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* ======= Reset.css ======= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
button, input {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* ======= Default.css ======= */
html {
  scroll-behavior: smooth;
}
body:not(.eng) {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.7em;
  margin: 0;
  background-color: #fff;
  color: #222;
}
body.active {
  overflow: hidden;
}

/* ======= Common.css ======= */
.common-top {
  text-align: center;
  margin: 50px;
}
.title {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 36px;
}
.title span {
  color: #2E63CD;
}
.title-desc {
  margin-bottom: 40px;
}

/* ======= Style.css ======= */
header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
}
.header-inner {
  width: 1300px;
  margin: auto;
  text-align: center;
}
.logo img {
  width: 200px;
  padding: 10px;
}
.logo {
  margin-top: 5px;
}
nav {}
nav a {
  margin-right: 20px;
  transition: .2s;
}
nav a:hover {
  font-weight: 400;
  color: #2E63CD;
}

/* ======= Section: Welcome ======= */
.welcome {
  width: 100%;
  height: 100vh;
}
.main-img {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-img img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: bottom;
}

/* ======= Section: learn ======= */
.learn {
  height: 500px;
}
.learn-inner {
  width: 1300px;
  margin: auto;
}
.learn-contents  {
  display: table;
  overflow: hidden;
}
.learn-con {
  display: table-cell;
  transition: .5s;
  cursor: pointer;
}
.learn-con:hover {
  transform: scale(1.1);
}
.learn-img {
  position: relative;
  width: 400px;
  height: 250px;
}
.learn-img::before {
  content: '';
  position: absolute;
  background-color: #222222a8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.learn-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
}
.learn-desc {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
}
.learn-desc p {
  font-size: 14px;
  width: 75%;
}
.learn-desc span::after {
  content: "\e907";
  font-family: xeicon;
}

/* ======= Section: level ======= */
.level {
  background-color: #F4F5FA;
  height: 350px;
  padding: 10px;
}
.level-inner {
  width: 1300px;
  margin: auto;
}
.level-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.level-con {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccd3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.level-con p {
  margin-top: 8px;
}
.level1::before {
  content: "\e9b4";
}
.level2::before {
  content: "\eb57";
}
.level3::before {
  content: "\e9c3";
}
.level4::before {
  content: "\ea60";
}
.level5::before {
  content: "\ea14";
}
.level1::before,
.level2::before,
.level3::before,
.level4::before,
.level5::before {
  font-family: xeicon;
  font-size: 42px;
  color: #4e6af7;
}

/* ======= Section: recent ======= */
.recent {}
.recent-inner {
  width: 1300px;
  margin: auto;
}
.recent-contents {
  display: flex;
}
.recent-con img {
  width: 300px;
  height: 200px;
}
.recent-con img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.recent-con:hover {
  cursor: pointer;
}
.recent-desc > h2 {
  float: left;
  margin: 0px 5px 0 20px;
  color: #4e6af7;
  width: 10%;
  font-weight: bold;
  font-size: 42px;
}
.recent-desc > p {
  width: 90%;
}

/* ======= Section: popular ======= */
.popular {
  background-color: #F4F5FA;
  height: 600px;
  padding: 20px;
}
.popular-inner {
  width: 1300px;
  margin: auto;
}
.popular-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-con {
  position: relative;
  margin-right: 20px;
  transition: .3s;
}
.popular-con:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
.popular-top {
  width: 300px;
  height: 250px;
}
.popular-top > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.popular-bottom {
  position: absolute;
  width: 300px;
  height: 120px;
  background-color: #eee;
  padding: 0 25px;
}
.popular-bottom > h2 {
  color: #4E6AF7;
  padding: 10px 0 0 0;
}
.popular-bottom > span {
  font-size: 14px;
  line-height: 1em;
}

/* ======= Section: youtube ======= */
.youtube {
  height: 600px;
}
.youtube-inner {
  width: 1300px;
  margin: auto;
}
.youtube-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-left {}
.youtube-left > iframe {}
.youtube-right {
  margin-left: 40px;
}
.youtube-load {}

/* ======= Section: youtube ======= */
.recommend {
  height: 600px;
}
.recommend-inner {
  width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: cenDter;
  align-items: center;
}
.recommend-list {
  width: 100%;
  margin-left: 100px;
}
.recommend-list > div {
  cursor: pointer;
}
.recommend-list > div.active {
  font-weight: bold;
  color: #4E6AF7;
  border-radius: 8px;
}
.recommend-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 500px;
  background-color: #F4F5FA;
}
.recommend-right {
  margin-left: 50px;
  background-color: #F4F5FA;
}
.recommend-con {
  display: none;
}
.recommend-con.active {
  display: block;
}
.recommend-con img {
  width: 200px;
}
.recommend-con > p {
  width: 80%;
  padding-bottom: 20px;
}
.recommend-con a {
  font-weight: 300;
}
.recommend-con a:hover {
  text-decoration: underline;
  background-color: skyblue;
  border-radius: 5px;
  padding: 3px;
  color: #eee;
  font-weight: bold;
}